* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
}

p {
  font-family: 'Roboto', sans-serif;
}

.cards {
  background-color: #dcd1f0;
  margin-top: 50px;
  height: 780px;
  position: relative;
}

.cards .cards-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.cards .cards-wrapper {
  position: relative;
  z-index: 99999;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
}

.cards .cards-wrapper .cards-row {
  width: 310px;
  height: 362px;
  margin-top: 15px;
  padding: 0px 20px;
  margin: 0px -20px;
}

.cards .cards-wrapper .cards-row .cards-col {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .cards-wrapper .cards-row .cards-col:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.cards .cards-wrapper .cards-row .cards-col .col-top img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cards .cards-wrapper .cards-row .cards-col .col-bottom {
  background-color: #fff;
  text-align: center;
  padding: 30px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.cards .cards-wrapper .cards-row .cards-col .col-bottom .bottom-title h6 {
  font-size: 13px;
  font-weight: 600;
  color: #b61984;
}

.cards .cards-wrapper .cards-row .cards-col .col-bottom .bottom-title h3 {
  font-weight: 700;
  color: #191919;
  font-size: 1.50rem;
}

.cards .cards-wrapper .cards-row .cards-col .col-bottom .bottom-content p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
  color: #191919;
}

.carousel-wrapper {
  position: relative;
}

.carousel-wrapper .yellow-top {
  width: 100%;
  position: absolute;
  z-index: -10;
}

.carousel-wrapper .carousel {
  position: relative;
}

.carousel-wrapper .carousel .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-wrapper .carousel .carousel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.carousel-wrapper .carousel .carousel-header .header-content {
  text-align: left;
}

.carousel-wrapper .carousel .carousel-header .header-content h4 {
  color: #b61984;
  font-weight: 600;
  font-size: 1.1rem;
}

.carousel-wrapper .carousel .carousel-header .header-content h3 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #191919;
}

.carousel-wrapper .carousel .carousel-img {
  width: 50%;
}

.carousel-wrapper .carousel .carousel-img img {
  width: 100%;
  display: block;
}

.carousel-wrapper .carousel .img-footer {
  position: absolute;
  bottom: -50px;
}

.carousel-wrapper .carousel .img-footer img {
  width: 100%;
}

header .header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  width: 80px;
  height: 80px;
}

header .logo img {
  width: 100%;
  display: block;
}

header .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .nav-wrapper .nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 175px;
}

header .nav-wrapper .nav li {
  padding-right: 40px;
  font-weight: 600;
  font-size: 13px;
}

header .nav-wrapper .nav li a {
  color: #191919;
}

header .nav-wrapper .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header .nav-wrapper .contact .phone {
  width: 180px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  background-color: #b61984;
  color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

header .nav-wrapper .contact .phone a {
  margin: 6px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

header .nav-wrapper .contact .phone:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 0.5px #b61984 inset;
          box-shadow: 0 0 0 0.5px #b61984 inset;
  background-color: #fff;
  border: 0.5px solid #b61984;
}

header .nav-wrapper .contact .media {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-wrapper .contact .media i {
  font-size: 0.9em;
  padding-right: 10px;
}
/*# sourceMappingURL=main.css.map */