.cards-row {
         
    width : 310px;
    height : 362px;
    margin-top : 15px;
    padding : 0px 20px;
    margin : 0px -20px;
    .cards-col {
        transition : all 300ms ease-in-out;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    border-radius : $border-radius;
    display : flex; 
    flex-direction: column;
    justify-content: space-between;
        .col-top {
            & img {
            border-top-left-radius: 10px ;
            border-top-right-radius: 10px ;
            }
        }
        .col-bottom {
            background-color: #fff;
            text-align : center;
            padding : 30px 20px;
            border-bottom-left-radius: 10px ;
            border-bottom-right-radius: 10px ;
            .bottom-title {
                & h6 {
                    font-size: $font-nav ; 
                    font-weight : 600;
                    color : $primary-color
                }
                & h3 {
                    font-weight : 700;
                    color : $color-black;
                    font-size : 1.50rem;
                }
            }
            .bottom-content {
               
                & p {
                margin-top : 15px;
                font-weight : 400 ;
                font-size : 14px;
                color : $color-black
                }
            }
        }
    }
}
    