* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
}
p {
  font-family: 'Roboto', sans-serif;
}

