// Hover Transition
@mixin transitionEl {
    transition: all 0.2s ease-out;
  }
  @mixin hoverTransition {
    color: #b61984;
    box-shadow: inset 0 0 0 2em $color-white;
    border: 1px solid $primary-color;
  }
  @mixin hoverTransition2 {
    color: #b61984;
    box-shadow: inset 0 0 0 2em $primary-color;
    border: 0.5px solid $primary-color;
  }
  @mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @mixin borderRadius {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  @mixin background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  