$primary-color: #b61984;
$secondary-color: #dcd1f0;
$font-size: 15px;
$font-nav: 13px;
$font-bold: 600;
$font-bolder: 700;
$color-black: #191919;
$color-white: #fff;
$font-awesome : 0.9em ;
$border-radius : 6px; 
$font-family: 'Montserrat', sans-serif;
$border-bottom: 1px solid rgba(41, 35, 35, 0.11);
