.form {
    margin-top : 100px;
    position:relative;
    .wavy-img {
       position :absolute;
       bottom : 0;
       left : 0;
       z-index : -10;
    }
    .clear {
        clear: both;
    }
    .container {
        .form-wrapper {
            background-color: $color-white;
            .form-row {
               
                margin-left : 100px;
                }
                    
                .col1 {
                   float: left;
                    width : 526px;
                }

                .col2 {
                    float: right;
                    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                    margin-bottom : 30px;
                    border-radius: 15px;
                    margin-right : 70px;
                    background-color: $color-white;
                    // margin-left: 100px;
                    .col2-wrapper {
                        width : 400px;
                     height : 500px;
                     padding : 25px 41px;
                     border-radius: $border-radius;
                     margin : 0 -18px;
                    
                        .form-header {
                            margin-bottom: 50px;

                            & h1 {
                                font-weight: 700;
                                font-size : 2.30rem;
                            }

                            text-align : center
                        }

                        width : 425px;
                        height : 500px;

                        .name-email {
                           
                            margin-bottom: 20px;
                            display: flex;
                            justify-content: space-between;
                           .input-name {
                            position : relative; 
                            & i {
                                position : absolute;
                                top : 50%;
                                transform : translateY(-50%);
                                left : 14px;
                                font-size : $font-nav;
                                color : $primary-color
                            }
                        
                           }
                           .input-email {
                            position : relative; 
                            & i {
                                position : absolute;
                                top : 50%;
                                transform : translateY(-50%);
                                left : 14px;
                                font-size : $font-nav;
                                color : $primary-color
                            }
                           }
                        }

                        .dropdown {
                            margin-bottom: 20px;
                        }

                        .text-area {
                            position : relative;
                            margin-bottom : 50px;
                            & textarea {
                                width: 342px;
                                height: 86px;
                                border-radius: 18px;
                            }
                    
                        
                        }
                    }
                }
            }
        }
    }

